#list_div
{
    background-color: #fff;
    border-radius:10px; margin:5px;
    max-width: 24%;
}
#card_div
{
    background-color: #fff;
    border-radius:10px; margin:5px;
    max-width: 24%;
}
#card_name_desc, #board_desc, #list_desc
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#card_desc{
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#card_div h4{
    width: 250px;
}
#btn_href
{
    width: 10em;
}

#card_btn_div{
    height: 40px;
     width: 202px;
     margin: 0 auto;
}

@media screen and (max-width: 1000px) {
    #list_div, #card_div
    {
        max-width: 33%;
    }
}

@media screen and (max-width: 990px) {
    #board_div
    {
        justify-content: center;
    }
}

@media screen and (max-width: 770px) {
    #list_div.button , #card_div.button
    {
       display: flex;
    }
    #list_div, #card_div
    {
        max-width: 40%;
    }
    /* #board_div {
        justify-content: center;
        display: flex;
    } */
}

@media screen and (max-width: 500px) {
    #myRow, #cardRow
    {
        display: block !important;
        margin: 0 initial;
    }
    #listsContainer, #cardsContainer
    {
        display: flex;
        justify-content: center;
    }
    #list_div,  #card_div
    {
        max-width: 100%;
    }
}
